{
    "parser": "babel-eslint",
    "extends": [
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "semi": [2, "always"]
    }
}
